/*bg style*/
.bg-web {
    background: #FC3A52;
}
.bg-it {
    background: #132d5a;
}
.bg-memo {
    background: #A8A8A8;
}
.bg-algorithm {
    background: #090504;
}
.bg-php {
    background: #6c7fb5;
}
.bg-js {
    background: #31b5ed;
}
.bg-literature {
    background: #C5F0A4;
}
.bg-mysql {
    background: #4479a1;
}
.bg-snippet {
    background: #364857;
}
.bg-comic {
    background: #FF894C;
}
.bg-cheatsheet {
    background: #00B7C2;
}
.bg-network {
    background: #BAB5F6;
}
.bg-interview {
    background: #6A65D8;
}
.bg-intro {
    background: #FFED78;
}
.bg-lyric {
    background: #c9feec;
}
.bg-game {
    background: #c4d381;
}
/*border style*/

.border-web {
    border-left: 7px solid #FC3A72;
}
.border-it {
    border-left: 7px solid #132d7a;
}
.border-memo {
    border-left: 7px solid #A8A8A8;
}
.border-algorithm {
    border-left: 7px solid #090704;
}
.border-php {
    border-left: 7px solid #6c7fb7;
}
.border-js {
    border-left: 7px solid #31b7ed;
}
.border-literature {
    border-left: 7px solid #C7F0A4;
}
.border-mysql {
    border-left: 7px solid #4479a1;
}
.border-snippet {
    border-left: 7px solid #364877;
}
.border-comic {
    border-left: 7px solid #FF894C;
}
.border-cheatsheet {
    border-left: 7px solid #00B7C2;
}
.border-network {
    border-left: 7px solid #BAB7F6;
}
.border-interview {
    border-left: 7px solid #6A67D8;
}
.border-intro {
    border-left: 7px solid #FFED78;
}
.border-lyric {
    border-left: 7px solid #c9feec;
}

.border-game {
    border-left: 7px solid #c4d381;
}