.bg-web {
    background: #FC3A52;
}
.bg-it {
    background: #132d5a;
}
.bg-memo {
    background: #A8A8A8;
}
.bg-algorithm {
    background: #090504;
}
.bg-php {
    background: #6c7fb5;
}
.bg-js {
    background: #31b5ed;
}
.bg-literature {
    background: #C5F0A4;
}
.bg-mysql {
    background: #4479a1;
}
.bg-snippet {
    background: #364857;
}
.bg-comic {
    background: #FF894C;
}
.bg-cheatsheet {
    background: #00B7C2;
}
.bg-network {
    background: #BAB5F6;
}
.bg-interview {
    background: #6A65D8;
}
.bg-intro {
    background: #FFED78;
}
.bg-lyric {
    background: #c9feec;
}

