.bg-0 {
    background-color: #FFED78;
}

.bg-1 {
    background-color: #BAB5F6;
}

.bg-2 {
    background-color: #6A65D8;
}

.bg-3 {
    background-color: #00B7C2;
}

.bg-4 {
    background-color: #FF894C;
}

.bg-5 {
    background-color: #C5F0A4;
}

.bg-6 {
    background-color: #364857;
}

.bg-7 {
    background-color: #FB5660;
}

.bg-mysql {
    background: #4479a1;
}

.bg-snippet {
    background: #FC3A52;
}