body {
    background: #5d4037;
}
.table {
    width: 90%;
    height: 94%;
    margin: 10px auto;
    position: relative;
}
.paper {
    z-index: 1;
    width: 160px;
    height: 200px;
    background: #FFF;
    box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    position: absolute;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.paper:hover{
    z-index: 2;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2), 0 10px 26px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}
.paper .image {
    border-radius: 4px 4px 0 0;
    height: 100%;
}
.paper .image > img {
    width: 100%;
    border-radius: 4px 4px 0 0;
    height: 100%;
}
.paper .content {
    border-radius: 0 0 4px 4px;
    position: inherit;
    top: 110px;
    width: 100%;
    height: 90px;
    background: rgba(255, 255, 255, 0.85);
}
.paper .content .title {
    padding: 10px;
    font-size: 14px;
    text-align: left;
}

.paper .content .date {
    position: inherit;
    right: 10px;
    bottom: 5px;
    font-size: 13px;
    font-style: italic;
}
.paper .goto {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    position: absolute;
    top: 8px;
    right: 6px;
    opacity: .4;
}
.paper .goto:after {
    content: '>';
    margin-left: 5px;
    font-weight: bold;
    color: #6c6c6c;
}
.paper .goto:hover {
    opacity: .6;
}
.clear {
    clear: both;
}

