body {
    background: #ededed;
}
.table {
    width: 90%;
    height: 94%;
    margin: 10px auto;
    position: relative;
}
.paper {
    z-index: 1;
    width: 160px;
    height: 200px;
    background: #FFF;
    box-shadow:2px 2px 3px #aaaaaa;
    border:1px solid #e6e6e6;
    position: absolute;
    padding: 10px 20px;
    cursor: pointer;
    display: none;
}
.paper:hover{
    z-index: 2;
    box-shadow:2px 2px 4px #aaaaaa;
    transition: 0.5s;
}

.paper .title {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}
.paper .date {
    float: right;
    margin-top: 120px;
    font-style: italic;
}
.clear {
    clear: both;
}