.catalog {
    width: 200px;
    height:auto;
    background: #292b36;
    color: #ffffff;
    position: fixed;
    top: 100px;
    right: 50px;
    font-size: 14px;
    line-height: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 2px 2px 4px #e3ddfa;
}

.catalog dl {
    margin: 10px 0;
}

.catalog dt {
    padding-left: 15px;
}

.catalog dt.active {
    border-left: 6px solid #ae81ff;
    color: #555;
    background: #d3c6ff;
}

.catalog dt:hover {
    border-left: 6px solid #ae81ff;
    color: #555;
    background: #d3c6ff;
}

.catalog dd {
    padding-left: 30px;
}

.catalog dd.active {
    border-left: 6px solid #ae81ff;
    color: #555;
    background: #d3c6ff;
}

.catalog dd:hover {
    border-left: 6px solid #ae81ff;
    color: #555;
    background: #d3c6ff;
}