body {
    background: #f9e5e7;
/*url(../img/bg1.jpeg) no-repeat;*/
}

.table {
    width: 100%;
    height: 100%;
    margin: 10px;
}

.card {
    z-index: 1;
    width: 180px;
    height: 280px;
    background: #ffb17c;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    position: absolute;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.card .footer {
    border-radius: 0 0 6px 6px;
    position: inherit;
    top: 190px;
    width: 100%;
    height: 90px;
    background: rgba(255, 255, 255, 0.85);
}

.card .main {
    border-radius: 6px;
    height: 100%;
}

.card .main img {
    border-radius: 6px;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
}

.card .footer .content {
    margin: 5px;
    font-size: 14px;
}

.card .footer .date {
    position: inherit;
    right: 10px;
    bottom: 5px;
    font-size: 13px;
    font-style: italic;
}

.card .circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: #f9e5e7;
    position: absolute;
    top: 8px;
    left: 10px;
}